include include/basic
doctype html
html
    head
        include include/meta
        title #{app.title}
        include include/style
    body#stage
        include include/tool
        include include/bar
        #mainer: .inner
        include include/footer
        include include/script
