include include/basic
doctype html
html
  head
    include include/meta
    title #{app.title}
    +style('core')
  body#stage
    #layer-info
    input#ipt-controller(type = 'text')
    #world
    #toolkit
      #btn-import.btn IMPORT
      #btn-export.btn EXPORT
      #btn-edit.btn EDIT
    +script('lib.min')
    +script('core')