@keyframes animation-breathing
  0%, 100%
    transform scaleY(1)

  50%
    transform scaleY(0.9)

@keyframes animation-info
  0%, 100%
    opacity 0
    transform translateX(-100%)

  3%, 97%
    opacity 1
    transform translateX(0)

@keyframes animation-toolkit
  0%
    opacity 0
    transform translate(100%, -50%)

  100%
    opacity 1
    transform translate(0, -50%)

@keyframes animation-world
  0%
    opacity 0

  100%
    opacity 1