#world
  .item-And
    &:after
      content 'AND'

  .item-Has
    &:after
      content 'HAS'

  .item-Is
    &:after
      content 'IS'

  .item-Make
    &:after
      content 'MA KE'
      line-height (32px - 12px) * 0.5
      padding-top 4px

  .item-Not
    &:after
      content 'NOT'

  .item-On
    &:after
      content 'ON'